{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-inner">
  <h4 class="page-title">Chart.js</h4>
  <div class="page-category">Simple yet flexible JavaScript charting for designers & developers. Please checkout their <a href="https://www.chartjs.org/" target="_blank">full documentation</a>.</div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Bar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="barChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Radar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="radarChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Polar Area Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="polarAreaChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Doughnut Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="doughnutChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Bubble Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="bubbleChart"  style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    
    fetch('/charts/bar_chart_data/')
        .then(response => response.json())
        .then(data => {
            const barCtx = document.getElementById('barChart').getContext('2d');
            new Chart(barCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Number of Students per Program',
                        data: data.data,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Number of Students per Program'
                    },
                    plugins: {
                        legend: {
                        display: true
                        }
                    },

                    scales: {
                        y: {
                            display: true
                        },
                        x: {
                            display: true
                        }
                    }   
                },
            });
        });

    
    fetch('/charts/radar_chart_data/')
        .then(response => response.json())
        .then(data => {
            const radarCtx = document.getElementById('radarChart').getContext('2d');
            new Chart(radarCtx, {
                type: 'radar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Student Distribution by Program',
                        data: data.data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Student Distribution by Program'
                    },
                    plugins: {
                        legend: {
                        display: true
                        }
                    },
                }
            });
        });

    
    fetch('/charts/polar_area_chart_data/')
        .then(response => response.json())
        .then(data => {
            const polarAreaCtx = document.getElementById('polarAreaChart').getContext('2d');
            new Chart(polarAreaCtx, {
                type: 'polarArea',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'College Membership Distribution',
                        data: data.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)'
                        ],
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'College Membership Distribution'
                    }
                },
            });
        });

    
    fetch('/charts/doughnut_chart_data/')
        .then(response => response.json())
        .then(data => {
            const doughnutCtx = document.getElementById('doughnutChart').getContext('2d');
            new Chart(doughnutCtx, {
                type: 'doughnut',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Organization Size Distribution',
                        data: data.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)'
                        ],
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Organization Size Distribution'
                    }
                }
            });
        });

    
        fetch('/charts/bubble_chart_data/')
    .then(response => response.json())
    .then(data => {
        const bubbleCtx = document.getElementById('bubbleChart').getContext('2d');
        new Chart(bubbleCtx, {
            type: 'bubble',
            data: {
                datasets: data.datasets  
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom'  
                    },
                    title: {
                        display: true,
                        text: 'Student Enrollment Bubble Chart'
                    }
                },
                scales: {
                    x: {
                        display: false,
                        title: {
                            display: false,
                            text: 'Year'
                        },
                        ticks: {
                            callback: function(value) {
                                return value.toString();  
                            }
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Students'
                        }
                    }
                }
            }
        });
    });

        
</script>
{% endblock %}
