{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Home</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">PSUSphere</div>
            <div class="card-category">PSU Beloved Database</div>
          </div>
          <div class="card-body">
            <p>
            PSU Beloved, On this day we greet you <br>
            Loyal sons and daughters <br>
            Ever shall we strive to be <br>
            Let thy name be echoed <br>
            Here and everywhere <br>
            Honor and fame may forever  <br>
            Crown the glory of your name. <br><br>
            
            
            
            Come my fellow schoolmates <br>
            Let’s join hands together <br>
            Let us all be happy <br>
            Sing of our dear PSU <br>
            With our voices loud and clear <br>
            Singing songs of cheer <br>
            Praise our Alma Mater <br>
            Now and forevermore! 
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
